.cart-widget .icon {
    font-size: 34px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
}
.bg-greendark {
  background: #008744 !important; }

.header-middle {
  /*background: #333;*/ 
  background: #008744;
}
.header-bottom{
    height: 49px;
}
.header-search-block2 {
  position: relative; }
  .header-search-block2 input {
    font-size: 16px;
    color: #333;
    width: 100%;
    height: 52px;
    float: none;
    font-weight: 400;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0 125px 0 20px; }
    .header-search-block2 input:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .header-search-block2 button {
    position: absolute;
    top: 0;
    right: 0;
    background: #62ab00;
    border: 0;
    line-height: 52px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    padding: 0 35px;
    color: #fff;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

.bg-navy {
  background: #393a44; }

 .bg-gold {
  background: #ffba00; }

 .footer.footer ul.contact li {
    font-size: 13px;
    position: relative;
    color: #444;
    margin-bottom: 0px !important;
    line-height: 20px;
}
.mid-footer .contact_mail .btn {
    margin-top: -3px;
}
.btn-Lightgreen:hover, input.btn-Lightgreen[type="submit"]:hover {
    background: #fff;
    color: #008744;
    border: 1px solid #008744;
}
.btn-Lightgreen, input.btn-Lightgreen[type="submit"] {
    background: #008744;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    border: 1px solid transparent;
    width: 100px;
    height: 40px;
}
.mid-footer .contact_mail input {
    width: 268px;
    height: 40px;
    border-radius: 3px;
    margin-right: 8px;
    margin-bottom: 0;
    display: inline-block;
    background: #f8f8f8;
    padding: 0 20px;
}

.mid-footer .contact_mail .subscribe {
    font-size: 14px;
    height: 40px;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 210px;
}
.img-center-hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    height: 230px;
}
.img-centerofday {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 270px;
}

.img-centerofday-hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    height: 300px;
}
.img-centersale {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.img-centersale-hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
}

.ajs-message.ajs-success {
    color: #000 !important;
    background-color: #d9ecda !important;
    border-color: #26852b !important;
    text-shadow: none !important;
}

.ajs-message.ajs-error {
    color: #000 !important;
    background-color: #F78181 !important;
    border-color: #FF0000 !important;
    text-shadow: none !important;
}

.ajs-message.ajs-warning {
    color: #000 !important;
    background-color: #F3F781 !important;
    border-color: #FFFF00 !important;
    text-shadow: none !important;
}

.single-slide:hover {
    background-color: white;
}

.ajaxload-cart {
    position: fixed;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    display: none;
}

    .ajaxload-cart > i {
        font-size: 35px;
        color: #62ab00;
        position: absolute;
        z-index: 1000000;
        top: 350px;
        left: 50%;
        animation: rotate 0.2s infinite;
    }

.rotate {
    animation: rotate 0.2s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.loading-page-effect {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background-color: #282424;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
}

    .loading-page-effect img {
        width: 30%;
        height: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -5%;
        margin-left: -15%;
    }

.loading-ajax-effect {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

    .loading-ajax-effect img {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
    }

.ajaxload-effect-heart {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

.loading-ajax-effect-heart img {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.tempFixed .itemFixed.cartFixed {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 33px;
    background: #62ab00;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    bottom: 130px;
}

.tempFixed .cartFixed.loading:after {
    content: '';
    border: 2px solid #f8f8f8;
    border-top: 2px solid #1ba8ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    opacity: 1;
}

.tempFixed .itemFixed.cartFixed a {
    color: #fff;
    line-height: 55px;
}

    .tempFixed .itemFixed.cartFixed a i {
        font-size: 25px;
    }

#cartCount {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background: #1ba8ff;
    top: -5px;
    right: -8px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    z-index: 5;
}


.tempFixed .itemFixed.favoriteFixed {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 33px;
    background: #d21212;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    bottom: 70px;
}

.tempFixed .favoriteFixed.loading:after {
    content: '';
    border: 2px solid #f8f8f8;
    border-top: 2px solid #1ba8ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    opacity: 1;
}

.tempFixed .itemFixed.favoriteFixed a {
    color: #fff;
    line-height: 55px;
}

    .tempFixed .itemFixed.favoriteFixed a i {
        font-size: 25px;
    }

#favoriteCount {
    width: 25px;
    height: 25 px;
    border-radius: 50%;
    position: absolute;
    background: #1ba8ff;
    top: -5px;
    right: -8px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    z-index: 5;
}



.tempFixed .itemFixed {
    margin-top: 10px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

    .tempFixed .itemFixed.hotLine label {
        display: block;
        position: relative;
    }

        .tempFixed .itemFixed.hotLine label a > span {
            margin: 0 5px 0 -25px;
            display: inline-block;
            vertical-align: middle;
            width: 50px;
            height: 50px;
            background: url(../images/hot.png) top left no-repeat;
        }

