@*<footer class="site-footer pt-3">
    <div class="container">
        <div class="row justify-content-between  section-padding">
            <div class=" col-xl-3 col-lg-4 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="brand-footer footer-title">
                        <img src="image/logo--footer.png" alt="">
                    </div>
                    <div class="footer-contact">
                        <p>
                            <span class="label">Địa chỉ:</span><span class="text">
                                 TP.HCM
                            </span>
                        </p>
                        <p><span class="label">Điện thoại:</span><span class="text">+84 783 403 999</span></p>
                        <p><span class="label">Email:</span><span class="text">silverbullet99it@gmail.com</span></p>
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-2 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="footer-title">
                        <h3>Về chúng tôi</h3>
                    </div>
                    <ul class="footer-list normal-list">
                        <li><a href="">Chi phí vận chuyển</a></li>
                        <li><a href="">Sản phẩm mới</a></li>
                        <li><a href="">Sản phẩm bán chạy</a></li>
                        <li><a href="">Liên hệ</a></li>
                        <li><a href="">Bản đồ cửa hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-2 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="footer-title">
                        <h3>CHĂM SÓC KHÁCH HÀNG</h3>
                    </div>
                    <ul class="footer-list normal-list">
                        <li><a href="">Theo dõi đơn hàng</a></li>
                        <li><a href="">Giới thiệu về chúng tôi</a></li>
                        <li><a href="">Cửa hàng</a></li>
                        <li><a href="">Trả Hàng & Hoàn Tiền</a></li>
                        <li><a href="">Chăm Sóc Khách Hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-4 col-sm-6">
                <div class="footer-title">
                    <h3>Theo dõi chúng tôi</h3>
                </div>
                <div class="newsletter-form mb--30">
                    <form action="./php/mail.php">
                        <input type="email" class="form-control" placeholder="Nhập email của bạn ở đây...">
                        <button class="btn btn--primary w-100">Subscribe</button>
                    </form>
                </div>
                <div class="social-block">
                    <h3 class="title">KẾT NỐI VỚI CHÚNG TÔI</h3>
                    <ul class="social-list list-inline">
                        <li class="single-social facebook">
                            <a href=""><i class="ion ion-social-facebook"></i></a>
                        </li>
                        <li class="single-social twitter"><a href=""><i class="ion ion-social-twitter"></i></a></li>
                        <li class="single-social google">
                            <a href="">
                                <i class="ion ion-social-googleplus-outline"></i>
                            </a>
                        </li>
                        <li class="single-social youtube"><a href=""><i class="ion ion-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="copyright-heading">
                Giấy chứng nhận Đăng ký Kinh doanh số 51386165486131 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 12/03/2020
            </p>
            <a href="#" class="payment-block badge-danger">
                <img src="~/public/images/icon/payment.png" alt="">
            </a>
            <p class="copyright-text">
                Copyright © 2019 <a href="#" class="author">Trần Hưng</a>. All Right Reserved.
                <br>
                Design By <a href="#" class="author">Trần Hưng</a>
            </p>
        </div>
    </div>
</footer>*@

<footer class="site-footer pt-3">
    <div class="container">
        <div class="row justify-content-between  section-padding">
            <div class=" col-xl-3 col-lg-4 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="brand-footer footer-title">
                        <img src="~/Public/images/logo_light.png" />
                    </div>
                    <div class="footer-contact">
                        <p>
                            <span class="label">Địa chỉ:</span><span class="text">
                                TP.HCM
                            </span>
                        </p>
                        <p><span class="label">Điện thoại:</span><span class="text">+84 783 403 999</span></p>
                        <p><span class="label">Email:</span><span class="text">silverbullet99it@gmail.com</span></p>
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-2 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="footer-title">
                        <h3>Về chúng tôi</h3>
                    </div>
                    <ul class="footer-list normal-list">
                        <li><a href="">Chi phí vận chuyển</a></li>
                        <li><a href="">Sản phẩm mới</a></li>
                        <li><a href="">Sản phẩm bán chạy</a></li>
                        <li><a href="">Liên hệ</a></li>
                        <li><a href="">Bản đồ cửa hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-2 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="footer-title">
                        <h3>CHĂM SÓC KHÁCH HÀNG</h3>
                    </div>
                    <ul class="footer-list normal-list">
                        <li><a href="">Theo dõi đơn hàng</a></li>
                        <li><a href="">Giới thiệu về chúng tôi</a></li>
                        <li><a href="">Cửa hàng</a></li>
                        <li><a href="">Trả Hàng & Hoàn Tiền</a></li>
                        <li><a href="">Chăm Sóc Khách Hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-4 col-sm-6">
                <div class="footer-title">
                    <h3>Theo dõi chúng tôi</h3>
                </div>
                <div class="newsletter-form mb--30">
                    <form action="./php/mail.php">
                        <input type="email" class="form-control" placeholder="Nhập email của bạn ở đây...">
                        <button class="btn btn-Lightgreen w-100">Đăng ký</button>
                    </form>
                </div>
                <div class="social-block">
                    <h3 class="title">KẾT NỐI VỚI CHÚNG TÔI</h3>
                    <ul class="social-list list-inline">
                        <li class="single-social facebook">
                            <a href=""><i class="ion ion-social-facebook"></i></a>
                        </li>
                        <li class="single-social twitter"><a href=""><i class="ion ion-social-twitter"></i></a></li>
                        <li class="single-social google">
                            <a href="">
                                <i class="ion ion-social-googleplus-outline"></i>
                            </a>
                        </li>
                        <li class="single-social youtube"><a href=""><i class="ion ion-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
