<ul class="main-menu  main-menu--white li-last-0 ">
    <li class="menu-item">
        <a href="@Url.Action("Home","Site")">Trang Chủ</a>
    </li>
    <li class="menu-item">
        <a href="~/bai-viet/gioi-thieu">Giới thiệu</a>
    </li>
    <li class="menu-item">
        <a href="~/san-pham">Sản phẩm</a>
    </li>
    @Html.Action("Blog", "Modules")
    @*<li class="menu-item">
        <a href="~/gio-hang-user/@ViewBag.ID">Cart test</a>
    </li>*@
    <li class="menu-item">
        <a href="/lien-he">Liên hệ</a>
    </li>
</ul>


