@model BookstoreMVC5.Models.User
    <a href=""><i class="icons-left fas fa-user"></i> @ViewBag.User.username</a>
    <i class="fas fa-chevron-down dropdown-arrow"></i>
    <ul class="dropdown-box">
        <li> <a href="">Tài khoản</a></li>

        <li> <a href="">Quản trị</a></li>
        <li> <a href="">Thoát</a></li>
    </ul>

