@*@model PizzaHut.Models.Muser*@
@model List<BookstoreMVC5.Models.User>
<div class="col-lg-7 mb--20">
    <!-- Billing Address -->

    <div id="billing-form" class="mb-40">
        <h4 class="checkout-title text-danger ">Thông tin giao hàng</h4>
        <div class="row">

            @if (ViewBag.username == null)
            {
                <div class="col-12 mb--20">
                    <label>
                        Họ tên bạn  <span class="text-danger">*</span>
                    </label>
                    <input type="text" name="deliveryname" value="" placeholder="Họ tên bạn" required>
                </div>

                <div class="col-md-6 col-12 mb--20">
                    <label>Địa chỉ email <span class="text-danger">*</span></label>
                    <input type="email" value="" name="deliveryemail" placeholder="Địa chỉ email" required>
                </div>
                <div class="col-md-6 col-12 mb--20">
                    <label>Số điện thoại nhận hàng <span class="text-danger">*</span></label>
                    <input type="text" name="deliveryphone" value="" placeholder="Số điện thoại nhận hàng" required>
                </div>
                <div class="col-12 mb--20">
                    <label>Địa chỉ  <span class="text-danger">*</span></label>
                    <input type="text" name="deliveryaddress" value="" placeholder="Địa chỉ" required>
                </div>
            }
            else
            {
        <div class="col-12 mb--20">
            <label>
                Họ tên bạn  <span class="text-danger">*</span>
            </label>
            <input type="text" name="deliveryname" value="" placeholder="Họ tên bạn" required>
        </div>

                <div class="col-md-6 col-12 mb--20">
                    <label>Địa chỉ email <span class="text-danger">*</span></label>
                    <input type="email" value="" name="deliveryemail" placeholder="Địa chỉ email" required>
                </div>
                <div class="col-md-6 col-12 mb--20">
                    <label>Số điện thoại nhận hàng <span class="text-danger">*</span></label>
                    <input type="text" name="deliveryphone" value="" placeholder="Số điện thoại nhận hàng" required>
                </div>
                <div class="col-12 mb--20">
                    <label>Địa chỉ  <span class="text-danger">*</span></label>
                    <input type="text" name="deliveryaddress" value="" placeholder="Địa chỉ" required>
                </div>
            }



        </div>
    </div>
    <div class="order-note-block mt--30">
        <label for="order-note">Ghi chú đơn hàng  <span class="text-danger">*</span></label>
        <textarea id="order-note" cols="30" rows="10" class="order-note"
                  placeholder="Ghi chú về đơn hàng của bạn, ví dụ: ghi chú đặc biệt để giao hàng."></textarea>
    </div>
    <!-- Slide Down Trigger  -->
</div>
