@model List<BookstoreMVC5.Models.CartUser>
<div class="tempFixed">
    <div class="itemFixed cartFixed">
        @if (@ViewBag.ID != null)
        {           
            <a href="/gio-hang-user/@ViewBag.ID">
                <i class="ion-bag" aria-hidden="true"></i>
                <span id="cartCount" class="cartItemCount"> @ViewBag.total</span>
            </a>
        }
        else
        {
            <a href="javascript:void(0);" onclick="checklogin()">
                <i class="ion-bag" aria-hidden="true"></i>
            </a>
            //ok
        }
    </div>
</div>

