@using PagedList.Mvc;
@model PagedList.IPagedList<BookstoreMVC5.Models.Post>
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<section class="breadcrumb-section bg-white">
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Bài viết</li>

                </ol>
            </nav>
        </div>
    </div>
</section>
<section class="inner-page-sec-padding-bottom space-db--30">
    <div class="container bg-white p-2">
        <div class="row space-db-lg--60 space-db--30">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                    <div class="blog-card card-style-grid">
                        <a href="~/bai-viet/@item.slug" class="image d-block">
                            <img src="~/public/images/post/@item.img" alt="">
                        </a>
                        <div class="card-content">
                            <h3 class="title"><a href="~/@item.slug">@item.title</a></h3>
                            <article>
                                <h2 class="sr-only">
                                    Blog Article
                                </h2>
                                <p class="text-lowercase">
                                    @item.title ...
                                </p>
                                <a href="~/bai-viet/@item.slug" class="blog-link">Đọc thêm</a>
                            </article>
                        </div>
                    </div>
                </div>
            }
        </div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        <!-- Pagination Block -->
        <div class="row pt--30">
            <div class="col-md-12">
                <div class="pagination-block">
                    <ul class="pagination-btns flex-center">
                        <li>
                            <a href="~/@ViewBag.url?page=1" class="single-btn prev-btn ">
                                |<i class="zmdi zmdi-chevron-left"></i>
                            </a>
                        </li>
                        <li>
                            @{
                                var firstPage = 1;
                                if ((int)Model.PageNumber > 1)
                                {
                                    firstPage = (int)Model.PageNumber - 1;
                                }

                                var lastpage = Model.PageNumber;
                                if (lastpage < Model.PageCount)
                                {
                                    lastpage = (int)Model.PageNumber + 1;
                                }

                            }
                            <a href="~/@ViewBag.url?page=@firstPage" class="single-btn prev-btn ">
                                <i class="zmdi zmdi-chevron-left"></i>
                            </a>
                        </li>

                        @for (int i = Model.PageNumber; i <= Model.PageCount; i++)
                        {

                            if (i < Model.PageNumber + 5)
                            {
                                <li id="active_@i"><a href="~/@ViewBag.url?page=@i" class="single-btn">@i  </a></li>
                            }

                        }
                        <li>
                            <a href="~/@ViewBag.url?page=@lastpage" class="single-btn next-btn">
                                <i class="zmdi zmdi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="~/@ViewBag.url/?page=@Model.PageCount" class="single-btn next-btn">
                                <i class="zmdi zmdi-chevron-right"></i>|
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#active_@Model.PageNumber").addClass("active");
    function ajaxShowItem(t) {
        console.log(t.value)
    }
</script>