<section class="section-margin">
    <div class="container bg-white p-4">
        <div class="section-title">
            <h2>BÀI VIẾT</h2>
        </div>
        <div class="blog-slider sb-slick-slider" data-slick-setting='{
                "autoplay": true,
                "autoplaySpeed": 8000,
                "slidesToShow": 2,
                "dots": true
            }' data-slick-responsive='[
                {"breakpoint":1200, "settings": {"slidesToShow": 1} }
            ]'>
            @Html.Action("postHome", "Post")
            <!--end post-->
        </div>
    </div>
</section>
