@model BookstoreMVC5.Models.Post
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<section class="breadcrumb-section bg-white">
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href="~/bai-viet">Bài viết</a></li>
                    <li class="breadcrumb-item active">Chi tiết bài viết</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<section class="inner-page-sec-padding-bottom">
    <div class="container">
        <div class="blog-post post-details mb--50">
            <div class="blog-content mt--30 bg-white p-3">
                <header>
                    <h3 class="blog-title">@Model.title</h3>
                    <div class="post-meta">
                        <span class="post-author">
                            <i class="fas fa-user"></i>
                            <span class="text-gray">Posted by : </span>
                            admin
                        </span>
                        <span class="post-separator">|</span>
                        <span class="post-date">
                            <i class="far fa-calendar-alt"></i>
                            <span class="text-gray">On : </span>
                            March 10, 2015
                        </span>
                    </div>
                </header>
                <article>
                    <h3 class="d-none sr-only">blob-article</h3>
                    <p class="p-0">
                        @Html.Raw(Model.detail)
                    </p>

                </article>
                <footer class="blog-meta">
                    <div>
                        <a href="#">Bình luận </a>
                        / TAGS: <a href="#"></a>
                    </div>
                </footer>
            </div>
        </div>

        <div class="share-block mb--50">
            <h3>Share Now</h3>
            <div class="social-links  justify-content-center  mt--10">
                <a href="#" class="single-social social-rounded"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="single-social social-rounded"><i class="fab fa-twitter"></i></a>
                <a href="#" class="single-social social-rounded"><i class="fab fa-pinterest-p"></i></a>
                <a href="#" class="single-social social-rounded"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="single-social social-rounded"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <section class="section-margin">
            <div class="container bg-white p-4">
                <div class="section-title">
                    <h2>BÀI VIẾT CÓ THỂ BẠN THÍCH</h2>
                </div>
                <div class="blog-slider sb-slick-slider" data-slick-setting='{
                "autoplay": true,
                "autoplaySpeed": 8000,
                "slidesToShow": 2,
                "dots": true
            }' data-slick-responsive='[
                {"breakpoint":1200, "settings": {"slidesToShow": 1} }
            ]'>
                    @Html.Action("postHome", "Post")
                </div>
            </div>
        </section>
    </div>
</section>


